{% extends 'base.html.twig' %}

{% block title %}Registro{% endblock %}

{% block body %}
    <section class="py-5 mt-5">
        <div class="container py-5">
            <div class="row mb-4 mb-lg-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <p class="fw-bold text-success mb-2">Alta</p>
                    <h2 class="fw-bold">Registrarse</h2>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="card">
                        <div class="card-body text-center d-flex flex-column align-items-center">
                            <div class="svg-wrapper bg-image shadow-1-strong rounded-lg my-4">
                               <img class="img-responsive" src="img/svg/person-plus.svg" style="text-align: center;" width="200%" height="200%"/> 
                            </div>

                            {% for flash_error in app.flashes('verify_email_error') %}
                                {# <div {{ react_component('MyComponent', { 'fullName': app.user.fullName }) }}></div> #}
                                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                            {% endfor %}
                            
                            {# Formulario Registro #}
                            {{ form_start(registrationForm) }}
                                <div class="mb-1">
                                    {{ form_row(registrationForm.email, {label: ' '} ) }}
                                </div>
                                <div class="mb-1">
                                    {{ form_row(registrationForm.plainPassword, {label: ' '}) }}
                                </div>
                                <div class="mb-3">
                                    {{ form_row(registrationForm.agreeTerms, {label: 'Aceptar Uso Datos Personales '}) }}
                                </div>
                                <div class="mb-3">
                                    <button class="btn btn-primary shadow d-block w-100" type="submit">
                                        Registro
                                    </button>
                                </div>
                            {{ form_end(registrationForm) }}
                            <div class="mb-3">
                                    <h6> Si ya tiene una cuenta de click en<h6>
                                    <a  href="{{ path('app_register') }}"> Conectarse </a>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
