{% extends 'base.html.twig' %}

{% block title %}Resetear tu password{% endblock %}

{% block body %}
    <section>
        <div class="container py-5">
            <div class="row mb-4 mb-lg-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <p class="fw-bold text-success mb-2">Resetear tu password</p>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="card">
                        <div class="card-body text-center d-flex flex-column align-items-center">
                            <div class="svg-wrapper bg-image shadow-1-strong rounded-lg my-4">
                               <img class="img-responsive" src="{{ asset ('img/svg/reset.svg') }}" style="text-align: center;" width="200%" height="200%"/> 
                            </div>
                            
                            {% for flash_error in app.flashes('verify_email_error') %}
                                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                            {% endfor %}
                            
                            {# Formulario Resetear Contraseña #}
                            <h1>Resetear tu password</h1>

                            {{ form_start(resetForm) }}
                                <div class="col-md-6 col-xl-4 mb-1">
                                    {{ form_row(resetForm.email, {label: ' '} ) }}
                                </div>
                                <button class="btn btn-primary shadow d-block w-100" type="submit">
                                    Resetear password
                                </button>
                            {{ form_end(resetForm) }}

                            <div class="row mb-2 mb-lg-2">
                                <div class="mb-3">
                                    <a  href="{{ path('app_login') }}"> Conectarse </a>
                                    <span> / </span>
                                    <a  href="{{ path('app_register') }}"> Registrarse </a>
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <section>

{% endblock %}
