<html>
    <head>
        <title>INFORME</title>
    </head>
    <body>
        <header>
            <h1> Informe del Empleado {{ datosInforme.apellido | capitalize }}</h1>
        </header>
        <main>
            <table class="table .table-bordered">
                <thead>
                    <tr class="active">
                        {# <th>Codigo</th> #}
                        <th>Apellido</th>
                        <th>Oficio</th>
                        <th>Fecha Alta</th>
                        <th>Salario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="success">>
                        <td scope="row">{{ datosInforme.apellido | upper}}</td>
                        <td>{{ datosInforme.oficio }}</td>
                        <td>{{ datosInforme.FechaAlt | date("d/m/Y") }}</td>
                        <td>{{ datosInforme.Salario | number_format(2, ',', '.') }}</td>
                    </tr>
                </tbody>
            </table>
        </main>
    </body>
</html>