{% extends 'base.html.twig' %}

{% block title %}Busqueda Paciente{% endblock %}

{% block body %}

    <section class="py-5 mt-5">
        <div class="container py-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-12">
                    <div class="card">
                        <div class="card-body text-center d-flex flex-column align-items-center">
                            <div class="row mb-1 mb-lg-1">
                                    <p class="fw-bold text-success mb-2">Intranet - Menu Facultativo</p>
                                    <h3 class="fw-bold">Seleccionar Paciente - Citas</h3>
                            </div>
                            <div class="row mb-1 mb-lg-1">
                                {# Incluimos Boton Volver #}
                                {% include 'menuVolver.html.twig' %}
                            </div>
                            <div class="form-group row mb-1 mb-lg-1">
                                <form method="POST">
                                    <div class="row mb-1 mb-lg-5">
                                        <div class="col-sm-3">
                                            <select name="comboEspecialidad" class="form-control" readonly="readonly" disabled="disabled" id="comboEspecialidad">
                                                {% for Especialidad in datosEspecialidades %}
                                                    {% if Especialidad == datosFacultativo.especialidad %}
                                                        {# Se le pone atributo selected para que se quede seleccionado #}
                                                        <option value="{{ Especialidad.idespecialidad }}" selected> {{ Especialidad.especialidad }}</option>
                                                    {% else %}                                        
                                                        <option value="{{ Especialidad.idespecialidad }}"> {{ Especialidad.especialidad }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="text" name="txtNombre" value="{{datosFacultativo.nombre}} {{datosFacultativo.apellido1}} {{datosFacultativo.apellido2}}" readonly="readonly" disabled="disabled" class="form-control" id="txtNombre">
                                        </div>
                                    </div>                               
                                </form>

                            <div class="form-group row mb-4 mb-lg-5">
                                {# Formulario Busqueda Paciente por Apellido #}
                                {# {{ form_start(buscarPacienteApellidoForm,{'action':path('buscarPerfilPaciente'),'method':'GET'}) }}  #}
                                <form method="GET" action="{{ path('buscarPacienteCitaApellido') }}">
                                    <div class="form-group row">
                                        <div class="col-sm-3">
                                            {# {{ form_row(buscarPacienteForm.apellido1, {label: 'Primer Apellido'}) }} #}
                                            <input type="text" class="form-control" placeholder="Primer Apellido" name="txtApellido" class="form-control" id="txtApellido">
                                        </div>
                                        <button type="submit" class="btn btn-primary col-sm-3" name="alta" value="alta">
                                            <i class="fa fa-search" aria-hidden="true"></i> Buscar por Apellido
                                        </button>   
                                    </div>                                    
                                {# {{ form_end(buscarPacienteForm) }} #}
                                </form>
                                {# Formulario Busqueda Paciente por Telefono #}
                                <form method="GET" action="{{ path('buscarPacienteCitaTelefono') }}">
                                    <div class="form-group row my-3">
                                        <div class="col-sm-3">
                                            <input type="number" class="form-control" placeholder="Telefono" name="txtTelefono" class="form-control" id="txtTelefono">
                                        </div>  
                                        <button type="submit" class="btn btn-primary col-sm-3" name="alta" value="alta">
                                        <i class="fa fa-search" aria-hidden="true"></i> Buscar por Telefono
                                        </button>   
                                    </div>
                                </form> 
                            <div class="form-group row">
                                   
                            <HR/>
                            
                            {# Muestro mensajes si llegan #}
                            {% if mensaje is defined %} 
                                {% if mensaje is not null %}
                                    <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
                                        {{mensaje}}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                {% endif %}
                            {% endif %}
                            {% if mensajewarning is defined %}        
                                {% if mensajewarning is not null %}
                                    <div class="alert alert-warning d-flex align-items-center alert-dismissible fade show" role="alert">
                                        {{mensajewarning}}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                {% endif %}
                            {% endif %}      

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Nombre</th>
                                        <th>Telefono</th>
                                        <th>Accion</th>
                                    </tr>
                                </thead>
                                <tbody>                                   
                                    <div id="swup">
                                        {# Si esta definida la variable muestra los datos de los pacientes #}
                                        {% for Paciente in datosPacientes %}    
                                            <tr>
                                                <td scope="row">{{ Paciente.Idpaciente}}</td>
                                                <td>{{ Paciente.Nombre | capitalize}} {{ Paciente.Apellido1 | capitalize}} {{ Paciente.Apellido2 | capitalize}}</td>
                                                <td>{{ Paciente.Telefono}}</td>
                                                <td>
                                                    <a class="btn btn-info" href="{{ path('mostrarCitasAdmin', {idpaciente: Paciente.idpaciente, idfacultativo: datosFacultativo.idfacultativo }) }}">Gestion Citas</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </div>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}