<html>
    <head>
        <title>JUSTIFICANTE ASISTENCIA CITA</title>
    </head>
    <body>
        <header>
            <h1> JUSTIFICANTE ASISTENCIA MEDICA CLINICA FISIO SALUD</h1>
        </header>
        <main>
            <h2> El paciente {{ datosPaciente.nombre | capitalize }} {{ datosPaciente.apellido1 | capitalize }} {{ datosPaciente.apellido2 | capitalize }} 
            ha acudido a la Clinica Salud para cita con {{ datosEspecialidad | upper }} el día {{ datosCita.fecha | date("d/m/Y") }} a las {{ datosCita.horas}}:00</h2>
            <h3> Para que asi conste se expide este justificante en Madrid a {{ fechadia | date("d/m/Y") }}
        </main>
    </body>
</html>
