<html>
    <head>
        <title>Justificante Asistencia Medica</title>
    </head>
    <body>
        <header>
           <h3>JUSTIFICANTE ASISTENCIA MEDICA CLINICA FISIO SALUD</h3>
        </header>
        <main>
            <p class="fw-bold mb-2">
                El paciente <b>{{ datosPaciente.nombre | capitalize }} {{ datosPaciente.apellido1 | capitalize }} {{ datosPaciente.apellido2 | capitalize }}</b> ha acudido a la Clinica Salud para cita con <b>{{ datosEspecialidad | upper }}</b> el día <b>{{ datosCita.fecha | date("d/m/Y") }}</b> a las <b>{{ datosCita.hora}}:00</b> para sesión con duración de una hora.
            </p>
            <p class="fw-bold text-warning mb-2">
                Para que asi conste se expide este justificante en Madrid a <b>{{ fechadia | date("d/m/Y") }}</b>
            </p>
        </main>
    </body>
</html>
