{% extends 'base.html.twig' %}

{% block title %}Seleccionar Horas de Cita{% endblock %}

{% block body %}

    <section class="py-5 mt-5">
        <div class="container py-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-12">
                    <div class="card">
                        <div class="card-body text-center d-flex flex-column align-items-center">
                            <div class="row mb-1 mb-lg-1">
                                <p class="fw-bold text-success mb-2">Intranet - Menu Paciente</p>
                                <h3 class="fw-bold">Seleccionar Hora Cita</h3>
                            </div>
                            <div class="row mb-4 mb-lg-2">
                                {# Incluimos Boton Volver #}
                                {% include 'menuVolver.html.twig' %}
                            </div>
                            <div class="form-group col-sm-8">
                                {# Formulario Para Añadir/Modificar Turnos #}
                                <form method="POST" action="{{ path('altaCitas', { idfacultativo: datosFacultativo.idfacultativo }) }}"> 
                                    <div class="row mb-2 mb-lg-2">
                                        <div class="col-sm-4">  
                                            <select name="comboEspecialidad" class="form-control" id="comboEspecialidad" readonly="readonly" disabled="disabled">
                                                {% for Especialidad in datosEspecialidades %}
                                                    {% if Especialidad == datosFacultativo.especialidad %}
                                                        {# Se le pone atributo selected para que se quede seleccionado #}
                                                        <option value="{{ Especialidad.idespecialidad }}" selected> {{ Especialidad.especialidad }}</option>
                                                    {% else %}                                        
                                                        <option value="{{ Especialidad.idespecialidad }}"> {{ Especialidad.especialidad }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="text" name="txtNombre" value="{{datosFacultativo.nombre}} {{datosFacultativo.apellido1}} {{datosFacultativo.apellido2}}" readonly="readonly" disabled="disabled" class="form-control" id="txtNombre">
                                        </div>
                                    </div>  
                                    <div class="row mb-2 mb-lg-2">
                                        <div class="col-sm-9">
                                            Paciente
                                            <input type="text" name="txtNombre" value="{{datosPaciente.nombre}} {{datosPaciente.apellido1}} {{datosPaciente.apellido2}}" class="form-control" readonly="readonly" disabled="disabled" id="txtNombre">
                                        </div>
                                        <div class="col-sm-3">
                                            Teléfono
                                            <input type="tel" name="txtTelefono" value="{{datosPaciente.telefono}}" class="form-control" readonly="readonly" disabled="disabled" id="txtTelefono" pattern="(\+34|0034|34)?[ -]*(6|7|8|9)[ -]*([0-9][ -]*){8}">
                                        </div>
                                    </div>  
 
                                    <div class="row mb-2 mb-lg-2">
                                        <div class="col-sm-3 text-primary">
                                            {{diadelasemana}}
                                            <input type="date" class="form-control" id="txFecha" name="txFecha" value="{{fechaseleccionada}}" readonly="readonly" disabled="disabled" >
                                        </div>
                                        <div class="col-sm-6">
                                            {# Incluimos Boton Volver #}
                                            {% include 'menuVolverOtraFecha.html.twig' %}
                                        </div>
                                    </div> 
                                </form>
                                <HR>
                                {% if mensaje is defined %}
                                    {% if mensaje is not null %}
                                        <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
                                            {{mensaje}}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    {% endif %}
                                {% endif %}
                                {% if mensajewarning is defined %}        
                                    {% if mensajewarning is not null %}
                                        <div class="alert alert-warning d-flex align-items-center alert-dismissible fade show" role="alert">
                                            {{mensajewarning}}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    {% endif %}
                                {% endif %}     

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Hora Disponible</th>
                                            <th>Accion</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <div id="swup">
                                            {# Si esta definida la variable muestra los datos de las citas disponibles del facultativo #}
                                            {% if citasDisponibles is defined %}
                                                {% for horadisponible in citasDisponibles %}
                                                    <tr>
                                                        <td scope="row">
                                                            <select name="comboEspecialidad" class="form-control mb-3" id="comboEspecialidad" readonly="readonly" disabled="disabled">
                                                                <option value="{{ horadisponible.hora }}"> De {{ horadisponible.hora }}:00 a {{ horadisponible.hora + 1 }}:00</option>
                                                            </select>
                                                        </td> 
                                                        <td>
                                                            <a class="btn btn-info" href="{{ path('altaCitas', {idfacultativo: datosFacultativo.idfacultativo, idpaciente: datosPaciente.idpaciente, hora: horadisponible.hora, fecha: fechaseleccionada }) }}">Pedir Cita</a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </tbody>
                                </table>
                            </div>       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}