{% extends 'base.html.twig' %}

{% block title %}Buscar Facultativo{% endblock %}

{% block body %}

    <section class="py-5 mt-5">
        <div class="container py-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-12">
                    <div class="card">
                        <div class="card-body text-center d-flex flex-column align-items-center">
                            <div class="row mb-1 mb-lg-1">
                                    <p class="fw-bold text-success mb-2">Intranet - Menu Administrativo</p>
                                    <h3 class="fw-bold">Seleccionar Facultativo - Turnos</h3>
                            </div>
                            <div class="row mb-4 mb-lg-5">
                                {# Incluimos Boton Volver #}
                                {% include 'menuVolver.html.twig' %}
                            </div>
                            <div class="form-group row mb-4 mb-lg-5">
                                {# Formulario Busqueda Facultativo por Apellido #}
                                <form method="GET" action="{{ path('buscarTurnosFacultativoApellido') }}">
                                    <div class="form-group row">
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" placeholder="Primer Apellido" name="txtApellido" class="form-control" id="txtApellido">
                                        </div>
                                        <button type="submit" class="btn btn-primary col-sm-3" name="alta" value="alta">
                                        <i class="fa fa-search" aria-hidden="true"></i> Buscar por Apellido
                                        </button>   
                                    </div>                                    
                                </form>
                                {# Formulario Busqueda Facultativo por Telefono #}
                                <form method="GET" action="{{ path('buscarTurnosFacultativoTelefono') }}">
                                    <div class="form-group row my-3">
                                        <div class="col-sm-3">
                                            <input type="number" class="form-control" placeholder="Telefono" name="txtTelefono" class="form-control" id="txtTelefono">
                                        </div>  
                                        <button type="submit" class="btn btn-primary col-sm-3" name="alta" value="alta">
                                        <i class="fa fa-search" aria-hidden="true"></i> Buscar por Telefono
                                        </button>   
                                    </div>
                                </form> 
                            <div class="form-group row">
                                   
                            <HR/>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Especialidad</th>
                                        <th>Nombre</th>
                                        <th>Telefono</th>
                                        <th>Accion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {# Si esta definida la variable muestra los datos de los facultativos #}
                                    {% for Facultativo in datosFacultativos %}    
                                        <tr>
                                        <td scope="row">  
                                            <select name="comboEspecialidad" class="form-control" id="comboEspecialidad" readonly="readonly" disabled="disabled">
                                                {% for Especialidad in datosEspecialidades %}
                                                    {% if Especialidad == Facultativo.especialidad %}
                                                        {# Se le pone atributo selected para que se quede seleccionado #}
                                                        <option value="{{ Especialidad.idespecialidad }}" selected> {{ Especialidad.especialidad }}</option>
                                                    {% else %}                                        
                                                        <option value="{{ Especialidad.idespecialidad }}"> {{ Especialidad.especialidad }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                            <td scope="row">{{ Facultativo.Nombre | capitalize}} {{ Facultativo.Apellido1 | capitalize}} {{ Facultativo.Apellido2 | capitalize}}</td>
                                            <td>{{ Facultativo.Telefono}}</td>
                                            <td>
                                                <a class="btn btn-info" href="{{ path('mostrarTurnosFacultativoAdmin', {idfacultativo: Facultativo.idfacultativo }) }}">Gestionar</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {# Mostramos Paginacion #}
                            <div>
                                {{ knp_pagination_render(datosFacultativos) }}
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}