{% extends 'base.html.twig' %}

{% block title %}Modificar Turnos Facultativo{% endblock %}

{% block body %}

    <section>
        <div class="container py-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-12">
                    <div class="card">
                        <div class="card-body text-center d-flex flex-column align-items-center">
                            <div class="row mb-4 mb-lg-5">
                                    <p class="fw-bold text-success mb-2">Intranet - Menu Administrativo</p>
                                    <h3 class="fw-bold">Modificar Turnos Facultativo</h3>
                            </div>
                            <div class="row mb-4 mb-lg-2">
                                {# Incluimos Boton Volver #}
                                {% include 'menuVolver.html.twig' %}
                            </div>
                            <div class="form-group">
                                {# Formulario Para Añadir/Modificar Turnos #}
                                <form method="POST" action="{{ path('modificarFacultativoTurnosAdmin', { idfacultativo: datosFacultativo.idfacultativo }) }}">
                                    <div class="row mb-2 mb-lg-2">
                                        <div class="col-sm-3">
                                            Código Facultativo
                                            <input type="number" name="txtIdfacultativo" value="{{datosFacultativo.idfacultativo}}" readonly="readonly" disabled="disabled" class="form-control" id="txtIdfacultativo">
                                        </div>
                                    </div>    
                                    <div class="row mb-2 mb-lg-2">
                                        <div class="col-sm-4">
                                            Nombre
                                            <input type="text" name="txtNombre" value="{{datosFacultativo.nombre}}" readonly="readonly" disabled="disabled" class="form-control" id="txtNombre">
                                        </div>
                                        <div class="col-sm-4">
                                            Primer Apellido
                                            <input type="text" name="txtApellido1" value="{{datosFacultativo.apellido1}}" readonly="readonly" disabled="disabled" class="form-control" id="txtApellido1">
                                        </div>
                                        <div class="col-sm-4">
                                            Segundo Apellido
                                            <input type="text" name="txtApellido2" value="{{datosFacultativo.apellido2}}" readonly="readonly" disabled="disabled" class="form-control" id="txtApellido2">
                                        </div>
                                    </div>  
                                    <div class="row mb-2 mb-lg-2">
                                        <div class="col-sm-4">
                                            Teléfono
                                            <input type="tel" name="txtTelefono" value="{{datosFacultativo.telefono}}" readonly="readonly" disabled="disabled" class="form-control" id="txtTelefono" pattern="(\+34|0034|34)?[ -]*(6|7|8|9)[ -]*([0-9][ -]*){8}">
                                        </div>
                                        <div class="col-sm-6">
                                            Especialidad    
                                            <select name="comboEspecialidad" class="form-control" id="comboEspecialidad" readonly="readonly" disabled="disabled">
                                                {% for Especialidad in datosEspecialidades %}
                                                    {% if Especialidad == datosFacultativo.especialidad %}
                                                        {# Se le pone atributo selected para que se quede seleccionado #}
                                                        <option value="{{ Especialidad.idespecialidad }}" selected> {{ Especialidad.especialidad }}</option>
                                                    {% else %}                                        
                                                        <option value="{{ Especialidad.idespecialidad }}"> {{ Especialidad.especialidad }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    {# {% if datosTurnos is null %} #}
                                    <div class="row mb-2 mb-lg-2">
                                        <div class="col-sm-1">
                                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-sm-3">
                                            Dia Semana
                                        </div>
                                        <div class="col-sm-3">
                                            Hora Inicio
                                        </div>
                                        <div class="col-sm-3">
                                            Hora Fin  
                                        </div>
                                    </div>
                                    {# Turno Lunes #} 
                                    <div class="row mb-2 mb-lg-2">
                                        <div class="col-sm-1">
                                            <input type="checkbox" name="txtLunes" id="txtLunes" value="true">
                                        </div>
                                        <div class="col-sm-3">
                                            <strong> LUNES </strong>
                                        </div>
                                        <div class="col-sm-3">
                                            <select name="txtHorainiciolunes" id="txtHorainiciolunes" class="form-control">
                                                <option value="09" selected>09:00</option>
                                                <option value="10">10:00</option>
                                                <option value="11">11:00</option>
                                                <option value="12">12:00</option>
                                                <option value="13">13:00</option>
                                                <option value="14">14:00</option>
                                                <option value="15">15:00</option>
                                                <option value="16">16:00</option>
                                                <option value="17">17:00</option>
                                                <option value="18">18:00</option>
                                                <option value="19">19:00</option>
                                            </select>    
                                        </div>
                                        <div class="col-sm-3">
                                            <select name="txtHorafinlunes" id="txtHorafinlunes" class="form-control">
                                                <option value="10">10:00</option>
                                                <option value="11">11:00</option>
                                                <option value="12">12:00</option>
                                                <option value="13">13:00</option>
                                                <option value="14">14:00</option>
                                                <option value="15">15:00</option>
                                                <option value="16">16:00</option>
                                                <option value="17">17:00</option>
                                                <option value="18">18:00</option>
                                                <option value="19">19:00</option>
                                                <option value="20" selected>20:00</option>
                                            </select>  
                                        </div>
                                    </div>
                                    {# Turno Martes #} 
                                    <div class="row mb-2 mb-lg-2">
                                        <div class="col-sm-1">
                                            <input type="checkbox" name="txtMartes" id="txtMartes" value="true">
                                        </div>
                                        <div class="col-sm-3">
                                            <strong> MARTES </strong>
                                        </div>
                                        <div class="col-sm-3">
                                            <select name="txtHorainiciomartes" id="txtHorainiciomartes" class="form-control">
                                                <option value="09" selected>09:00</option>
                                                <option value="10">10:00</option>
                                                <option value="11">11:00</option>
                                                <option value="12">12:00</option>
                                                <option value="13">13:00</option>
                                                <option value="14">14:00</option>
                                                <option value="15">15:00</option>
                                                <option value="16">16:00</option>
                                                <option value="17">17:00</option>
                                                <option value="18">18:00</option>
                                                <option value="19">19:00</option>
                                            </select>    
                                        </div>
                                        <div class="col-sm-3">   
                                            <select name="txtHorafinmartes" id="txtHorafinmartes" class="form-control">
                                                <option value="10">10:00</option>
                                                <option value="11">11:00</option>
                                                <option value="12">12:00</option>
                                                <option value="13">13:00</option>
                                                <option value="14">14:00</option>
                                                <option value="15">15:00</option>
                                                <option value="16">16:00</option>
                                                <option value="17">17:00</option>
                                                <option value="18">18:00</option>
                                                <option value="19">19:00</option>
                                                <option value="20" selected>20:00</option>
                                            </select>  
                                        </div>
                                    </div>
                                    {# Turno Miercoles #} 
                                    <div class="row mb-2 mb-lg-2">
                                        <div class="col-sm-1">
                                            <input type="checkbox" name="txtMiercoles" id="txtMiercoles" value="true">
                                        </div>
                                        <div class="col-sm-3">
                                            <strong> MIERCOLES </strong>
                                        </div>
                                        <div class="col-sm-3">
                                            <select name="txtHorainiciomiercoles" id="txtHorainiciomiercoles" class="form-control">
                                                <option value="09" selected>09:00</option>
                                                <option value="10">10:00</option>
                                                <option value="11">11:00</option>
                                                <option value="12">12:00</option>
                                                <option value="13">13:00</option>
                                                <option value="14">14:00</option>
                                                <option value="15">15:00</option>
                                                <option value="16">16:00</option>
                                                <option value="17">17:00</option>
                                                <option value="18">18:00</option>
                                                <option value="19">19:00</option>
                                            </select>    
                                        </div>
                                        <div class="col-sm-3">   
                                            <select name="txtHorafinmiercoles" id="txtHorafinmiercoles" class="form-control">
                                                <option value="10">10:00</option>
                                                <option value="11">11:00</option>
                                                <option value="12">12:00</option>
                                                <option value="13">13:00</option>
                                                <option value="14">14:00</option>
                                                <option value="15">15:00</option>
                                                <option value="16">16:00</option>
                                                <option value="17">17:00</option>
                                                <option value="18">18:00</option>
                                                <option value="19">19:00</option>
                                                <option value="20" selected>20:00</option>
                                            </select>  
                                        </div>
                                    </div>
                                    {# Turno Jueves #} 
                                    <div class="row mb-2 mb-lg-2">
                                        <div class="col-sm-1">
                                            <input type="checkbox" name="txtJueves" id="txtJueves" value="true">
                                        </div>
                                        <div class="col-sm-3">
                                            <strong> JUEVES </strong>
                                        </div>
                                        <div class="col-sm-3">
                                            <select name="txtHorainiciojueves" id="txtHorainiciojueves" class="form-control">
                                                <option value="09" selected>09:00</option>
                                                <option value="10">10:00</option>
                                                <option value="11">11:00</option>
                                                <option value="12">12:00</option>
                                                <option value="13">13:00</option>
                                                <option value="14">14:00</option>
                                                <option value="15">15:00</option>
                                                <option value="16">16:00</option>
                                                <option value="17">17:00</option>
                                                <option value="18">18:00</option>
                                                <option value="19">19:00</option>
                                            </select>    
                                        </div>
                                        <div class="col-sm-3">   
                                            <select name="txtHorafinjueves" id="txtHorafinjueves" class="form-control">
                                                <option value="10">10:00</option>
                                                <option value="11">11:00</option>
                                                <option value="12">12:00</option>
                                                <option value="13">13:00</option>
                                                <option value="14">14:00</option>
                                                <option value="15">15:00</option>
                                                <option value="16">16:00</option>
                                                <option value="17">17:00</option>
                                                <option value="18">18:00</option>
                                                <option value="19">19:00</option>
                                                <option value="20" selected>20:00</option>
                                            </select>  
                                        </div>
                                    </div>
                                    {# Turno Viernes #} 
                                    <div class="row mb-2 mb-lg-2">
                                        <div class="col-sm-1">
                                            <input type="checkbox" name="txtViernes" id="txtViernes" value="true">
                                        </div>
                                        <div class="col-sm-3">
                                            <strong> VIERNES </strong>
                                        </div>
                                        <div class="col-sm-3">
                                            <select name="txtHorainicioviernes" id="txtHorainicioviernes" class="form-control">
                                                <option value="09" selected>09:00</option>
                                                <option value="10">10:00</option>
                                                <option value="11">11:00</option>
                                                <option value="12">12:00</option>
                                                <option value="13">13:00</option>
                                                <option value="14">14:00</option>
                                                <option value="15">15:00</option>
                                                <option value="16">16:00</option>
                                                <option value="17">17:00</option>
                                                <option value="18">18:00</option>
                                                <option value="19">19:00</option>
                                            </select>    
                                        </div>
                                        <div class="col-sm-3">   
                                            <select name="txtHorafinviernes" id="txtHorafinviernes" class="form-control">
                                                <option value="10">10:00</option>
                                                <option value="11">11:00</option>
                                                <option value="12">12:00</option>
                                                <option value="13">13:00</option>
                                                <option value="14">14:00</option>
                                                <option value="15">15:00</option>
                                                <option value="16">16:00</option>
                                                <option value="17">17:00</option>
                                                <option value="18">18:00</option>
                                                <option value="19">19:00</option>
                                                <option value="20" selected>20:00</option>
                                            </select>  
                                        </div>
                                    </div>

                                    <div class="row mb-2 mb-lg-2">
                                        <button type="submit" class="btn btn-primary col-sm-3" name="actualizar" value="actualizar">
                                            <i class="fa fa-snowflake-o" aria-hidden="true"></i> Actualizar Turnos
                                        </button>
                                    </div>    
                                </form>
                                <HR>

                                {# Si existen mensajes los mostramos #}
                                {% if mensaje is defined %}
                                    {% if mensaje is not null %}
                                        <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
                                            {{mensaje}}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    {% endif %}
                                {% endif %}
                                {% if mensajewarning is defined %}        
                                    {% if mensajewarning is not null %}
                                        <div class="alert alert-warning d-flex align-items-center alert-dismissible fade show" role="alert">
                                            {{mensajewarning}}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    {% endif %}
                                {% endif %}    

                                {# {{ dump(datosTurnos) }} #}
                                {# Muestro Tabla con Turnos existentes #}
                                <div class="row mb-2 mb-lg-2">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Día de la Semana</th>
                                                <th>Hora Inicio</th>
                                                <th>Hora Fin</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {# Si esta definida la variable muestra los datos de los turnos del facultativo #}
                                            {# {% if datosTurnos is defined %} #}
                                            {% for Turno in datosTurnos %}    
                                                <tr>
                                                    <td scope="row">{{ Turno.diasemana}}</td>
                                                    <td>{{ Turno.horainicio}}:00</td>
                                                    <td>{{ Turno.horafin}}:00</td>
                                                </tr>
                                            {% endfor %}
                                            {# {% endif %} #}
                                        </tbody>
                                    </table> 
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}