{% extends 'base.html.twig' %}

{% block title %}Modificar Turnos Facultativo{% endblock %}

{% block body %}

    <section class="py-5 mt-5">
        <div class="container py-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-12">
                    <div class="card">
                        <div class="card-body text-center d-flex flex-column align-items-center">
                            <div class="row mb-4 mb-lg-5">
                                    <p class="fw-bold text-success mb-2">Intranet - Menu Administrativo</p>
                                    <h3 class="fw-bold">Modificar Turnos Facultativo</h3>
                            </div>
                            <div class="row mb-4 mb-lg-2">
                                {# Incluimos Boton Volver #}
                                {% include 'menuVolver.html.twig' %}
                            </div>
                            <div class="form-group">
                                {# Formulario Para Añadir/Modificar Turnos #}
                                {{ form_start(turnosForm) }}
                                {# <form method="POST" action="{{ path('modificarFacultativoAdmin', { idfacultativo: datosFacultativo.idfacultativo }) }}"> #}
                                    <div class="row mb-2 mb-lg-2">
                                        <div class="col-sm-3">
                                            {{ form_row(turnosForm.idfacultativo, {label: 'Código Facultativo'}) }}
                                            {# Código Facultativo
                                            <input type="number" name="txtIdfacultativo" value="{{datosFacultativo.idfacultativo}}" readonly="readonly" disabled="disabled" class="form-control" id="txtIdfacultativo"> #}
                                        </div>
                                    </div>    
                                    <div class="row mb-2 mb-lg-2">
                                        <div class="col-sm-4">
                                            {{ form_row(turnosForm.nombre, {label: 'Nombre'}) }}
                                            {# Nombre
                                            <input type="text" name="txtNombre" value="{{datosFacultativo.nombre}}" readonly="readonly" disabled="disabled" class="form-control" id="txtNombre"> #}
                                        </div>
                                        <div class="col-sm-4">
                                            {{ form_row(turnosForm.apellido1, {label: 'Primer Apellido'}) }}
                                            Primer Apellido
                                            {# <input type="text" name="txtApellido1" value="{{datosFacultativo.apellido1}}" readonly="readonly" disabled="disabled" class="form-control" id="txtApellido1"> #}
                                        </div>
                                        <div class="col-sm-4">
                                            {{ form_row(turnosForm.apellido1, {label: 'Segundo Apellido'}) }}
                                            {# Segundo Apellido
                                            <input type="text" name="txtApellido2" value="{{datosFacultativo.apellido2}}" readonly="readonly" disabled="disabled" class="form-control" id="txtApellido2"> #}
                                        </div>
                                    </div>  
                                    <div class="row mb-2 mb-lg-2">
                                        <div class="col-sm-4">
                                            {{ form_row(turnosForm.telefono, {label: 'Teléfono'}) }}
                                            {# Teléfono
                                            <input type="tel" name="txtTelefono" value="{{datosFacultativo.telefono}}" readonly="readonly" disabled="disabled" class="form-control" id="txtTelefono" pattern="(\+34|0034|34)?[ -]*(6|7|8|9)[ -]*([0-9][ -]*){8}"> #}
                                        </div>
                                        <div class="col-sm-6">
                                            {# {{ form_row(turnosForm.especialidad, {label: 'Especialidad'}) }} #}
                                            Especialidad    
                                            <select name="comboEspecialidad" class="form-control" id="comboEspecialidad" readonly="readonly" disabled="disabled">
                                                {% for Especialidad in datosEspecialidades %}
                                                    {% if Especialidad == datosFacultativo.especialidad %}
                                                        {# Se le pone atributo selected para que se quede seleccionado #}
                                                        <option value="{{ Especialidad.idespecialidad }}" selected> {{ Especialidad.especialidad }}</option>
                                                    {% else %}                                        
                                                        <option value="{{ Especialidad.idespecialidad }}"> {{ Especialidad.especialidad }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    {% if datosTurnos is null %}
                                    {# Turno Lunes #} 
                                    <div class="row mb-2 mb-lg-2">
                                        <div class="col-sm-3">
                                            Día de la Semana
                                            <input type="text" name="txtLunes" value="LUNES" readonly="readonly" disabled="disabled" class="form-control" id="txtLunes">
                                        </div>
                                        <div class="col-sm-3">
                                            {{ form_row(turnosForm.turnolunes, {label: 'Turno'}) }}
                                             {# Turno    
                                             <select name="comboTurnolunes" class="form-control" id="comboTurnolunes">
                                                <option value="MAÑANA" selected> MAÑANA</option>                                    
                                                <option value="TARDE"> TARDE</option>
                                            </select> #}
                                        </div>
                                        <div class="col-sm-3">
                                            {{ form_row(turnosForm.horainiciolunes, {label: 'Hora Inicio'}) }}
                                            {# Hora Inicio <small>09 a 15</small>
                                            <input type="time" id="txtHorainiciolunes" name="txtHorainiciolunes" list="time-list" class="form-control" min="09:00:00" max="15:00:00" value="09:00:00" step="3600">
                                            <datalist id="time-list" >
                                                <option id="09" name="09" value="09:00" datatype="time">
                                                <option id="10" name="10" value="10:00" datatype="time">
                                                <option id="11" name="11" value="11:00" datatype="time">
                                                <option id="12" name="12" value="12:00" datatype="time">
                                                <option id="13" name="13" value="13:00" datatype="time">
                                                <option id="14" name="14" value="14:00" datatype="time">
                                                <option id="15" name="15" value="15:00" datatype="time">
                                                <option id="16" name="16" value="16:00" datatype="time">
                                                <option id="17" name="17" value="17:00" datatype="time">
                                                <option id="18" name="18" value="18:00" datatype="time">
                                                <option id="19" name="19" value="19:00" datatype="time">
                                                <option id="20" name="20" value="20:00" datatype="time" disabled="disabled">
                                            </datalist> #}
                                        </div>
                                        
                                        <div class="col-sm-3">
                                            {{ form_row(turnosForm.horafinlunes, {label: 'Hora Fin'}) }}
                                            {# Hora Fin <small>14 a 20</small>      
                                            <input type="time" name="txtHorafinlunes" class="form-control" id="txtHorafinlunes" min="14:00:00" max="20:00:00" value="14:00:00" step="3600">  #}
                                        </div>
                                    </div>
                                    {# Turno Martes #} 
                                    <div class="row mb-2 mb-lg-2">
                                        <div class="col-sm-3">
                                            <input type="text" name="txtMartes" value="MARTES" readonly="readonly" disabled="disabled" class="form-control" id="txtMartes">
                                        </div>
                                        <div class="col-sm-3">
                                            {{ form_row(turnosForm.turnomartes) }}    
                                            {# <select name="comboTurnomartes" class="form-control" id="comboTurnomartes">
                                                <option value="MAÑANA" selected> MAÑANA</option>                                    
                                                <option value="TARDE"> TARDE</option>
                                            </select> #}
                                        </div>
                                        <div class="col-sm-3">
                                            {{ form_row(turnosForm.horainiciomartes) }}        
                                            {# <input type="time" name="txtHorainiciomartes" class="form-control" id="txtHorainiciomartes" min="09:00:00" max="15:00:00" value="09:00:00" step="3600">   #}
                                        </div>
                                        <div class="col-sm-3">
                                            {{ form_row(turnosForm.horafinmartes) }}      
                                            {# <input type="time" name="txtHorafinmartes" class="form-control" id="txtHorafinmartes" min="14:00:00" max="20:00:00" value="14:00:00" step="3600">  #}
                                        </div>
                                    </div>
                                    {# Turno Miercoles #} 
                                    <div class="row mb-2 mb-lg-2">
                                        <div class="col-sm-3">
                                            <input type="text" name="txtMiercoles" value="MIERCOLES" readonly="readonly" disabled="disabled" class="form-control" id="txtMiercoles">
                                        </div>
                                        <div class="col-sm-3">
                                            {{ form_row(turnosForm.turnomiercoles) }} 
                                             {# <select name="comboTurnomiercoles" class="form-control" id="comboTurnomiercoles">
                                                <option value="MAÑANA" selected> MAÑANA</option>                                    
                                                <option value="TARDE"> TARDE</option>
                                            </select> #}
                                        </div>
                                        <div class="col-sm-3">
                                            {{ form_row(turnosForm.horainiciomiercoles) }}          
                                            {# <input type="time" name="txtHorainiciomiercoles" class="form-control" id="txtHorainiciomiercoles" min="09:00:00" max="15:00:00" value="09:00:00" step="3600">   #}
                                        </div>
                                        <div class="col-sm-3">
                                            {{ form_row(turnosForm.horafinmiercoles) }}       
                                            {# <input type="time" name="txtHorafinmiercoles" class="form-control" id="txtHorafinmiercoles" min="14:00:00" max="20:00:00" value="14:00:00" step="3600">  #}
                                        </div>
                                    </div>
                                    {# Turno Jueves #} 
                                    <div class="row mb-2 mb-lg-2">
                                        <div class="col-sm-3">
                                            <input type="text" name="txtJueves" value="JUEVES" readonly="readonly" disabled="disabled" class="form-control" id="txtJueves">
                                        </div>
                                        <div class="col-sm-3">
                                            {{ form_row(turnosForm.turnojueves) }}    
                                             {# <select name="comboTurnojueves" class="form-control" id="comboTurnojueves">
                                                <option value="MAÑANA" selected> MAÑANA</option>                                    
                                                <option value="TARDE"> TARDE</option>
                                            </select> #}
                                        </div>
                                        <div class="col-sm-3">
                                            {{ form_row(turnosForm.horainiciojueves) }}         
                                            {# <input type="time" name="txtHorainiciojueves" class="form-control" id="txtHorainiciojueves" min="09:00:00" max="15:00:00" value="09:00:00" step="3600">   #}
                                        </div>
                                        <div class="col-sm-3">
                                            {{ form_row(turnosForm.horafinjueves) }}       
                                            {# <input type="time" name="txtHorafinjueves" class="form-control" id="txtHorafinjueves" min="14:00:00" max="20:00:00" value="14:00:00" step="3600">  #}
                                        </div>
                                    </div>
                                    {# Turno Viernes #} 
                                    <div class="row mb-2 mb-lg-2">
                                        <div class="col-sm-3">
                                            <input type="text" name="txtViernes" value="VIERNES" readonly="readonly" disabled="disabled" class="form-control" id="txtViernes">
                                        </div>
                                        <div class="col-sm-3">
                                            {{ form_row(turnosForm.turnoviernes) }}    
                                             {# <select name="comboTurnoviernes" class="form-control" id="comboTurnoviernes">
                                                <option value="MAÑANA" selected> MAÑANA</option>                                    
                                                <option value="TARDE"> TARDE</option>
                                            </select> #}
                                        </div>
                                        <div class="col-sm-3">
                                            {{ form_row(turnosForm.horainicioviernes) }}         
                                            {# <input type="time" name="txtHorainicioviernes" class="form-control" id="txtHorainicioviernes" min="09:00:00" max="15:00:00" value="09:00:00" step="3600">   #}
                                        </div>
                                        <div class="col-sm-3">
                                            {{ form_row(turnosForm.horafinviernes) }}       
                                            {# <input type="time" name="txtHorafinviernes" class="form-control" id="txtHorafinviernes" min="14:00:00" max="20:00:00" value="14:00:00" step="3600">  #}
                                        </div>
                                    </div>
                                    {% else %}
                                        {# Si existen los turnos se cargan en los values por cada ocurrencia (dia) #}
                                        {% if datosTurnos is defined %}
                                            {% for Turno in datosTurnos %}
                                                <div class="row mb-2 mb-lg-2">
                                                    <div class="col-sm-3">
                                                        <input type="text" name="txt{{Turno.diasemana}}" value="{{Turno.diasemana}}" class="form-control" id="txt{{Turno.diasemana}}"> 
                                                    </div>
                                                    <div class="col-sm-3">    
                                                        <input type="text" name="txtTurno{{Turno.diasemana}}" value="{{Turno.turno}}" class="form-control" id="txtTurno{{Turno.diasemana}}">
                                                    </div>
                                                    <div class="col-sm-3">        
                                                        <input type="time" name="txtHorainicio{{Turno.diasemana}}" value="{{Turno.horainicio}}" class="form-control" id="txtHorainicio{{Turno.diasemana}}" min="09:00:00">                                                         >  
                                                    </div>
                                                    <div class="col-sm-3">      
                                                        <input type="time" name="txtHorafin{{Turno.diasemana}}" value="{{Turno.horafin}}" class="form-control" id="txtHorafin{{Turno.diasemana}}" max="20:00:00">> 
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}

                                    <div class="row mb-2 mb-lg-2">
                                        <button type="submit" class="btn btn-primary col-sm-3" name="actualizar" value="actualizar">
                                            <i class="fa fa-snowflake-o" aria-hidden="true"></i> Actualizar Turnos
                                        </button>
                                    </div>    
                                {{ form_end(aseguradoraForm) }}
                                {# </form> #}
                                <HR>
                                {# Muestro Tabla con Turnos existentes #}
                                <div class="row mb-2 mb-lg-2">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Día de la Semana</th>
                                                <th>Turno</th>
                                                <th>Hora Inicio</th>
                                                <th>Hora Fin</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {# Si esta definida la variable muestra los datos de los turnos del facultativo #}
                                            {% if datosTurnos is defined %}
                                                {% for Turno in datosTurnos %}    
                                                    <tr>
                                                        {# Formateo String para ponerlos en mayusculas con upper #}
                                                        <td scope="row">{{ Turno.diasemana | upper }}</td>
                                                        <td>{{ Turno.turno | upper }}</td>
                                                        <td>{{ Turno.horainicio }}</td>
                                                        <td>{{ Turno.horafin }}</td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                        </tbody>
                                    </table> 
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}