{% extends 'base.html.twig' %}

{% block title %}Turnos{% endblock %}

{% block body %}
    <h1>Turnos</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idturno</th>
                <td>{{ turno.idturno }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ turno.fecha ? turno.fecha|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Horainicio</th>
                <td>{{ turno.horainicio ? turno.horainicio|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Horafin</th>
                <td>{{ turno.horafin ? turno.horafin|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Turno</th>
                <td>{{ turno.turno }}</td>
            </tr>
            <tr>
                <th>Disponible</th>
                <td>{{ turno.disponible ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_turnos_index') }}">back to list</a>

    <a href="{{ path('app_turnos_edit', {'idturno': turno.idturno}) }}">edit</a>

    {{ include('turnos/_delete_form.html.twig') }}
{% endblock %}
