{% extends 'base.html.twig' %}

{% block title %}Rehabilitaciones index{% endblock %}

{% block body %}
    <h1>Rehabilitaciones index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idrehabilitacion</th>
                <th>Sesionestotales</th>
                <th>Sesionesrestantes</th>
                <th>Fechainicio</th>
                <th>Ultimasesion</th>
                <th>Observaciones</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rehabilitacione in rehabilitaciones %}
            <tr>
                <td>{{ rehabilitacione.idrehabilitacion }}</td>
                <td>{{ rehabilitacione.sesionestotales }}</td>
                <td>{{ rehabilitacione.sesionesrestantes }}</td>
                <td>{{ rehabilitacione.fechainicio ? rehabilitacione.fechainicio|date('Y-m-d') : '' }}</td>
                <td>{{ rehabilitacione.ultimasesion ? rehabilitacione.ultimasesion|date('Y-m-d') : '' }}</td>
                <td>{{ rehabilitacione.observaciones }}</td>
                <td>
                    <a href="{{ path('app_rehabilitaciones_show', {'idrehabilitacion': rehabilitacione.idrehabilitacion}) }}">show</a>
                    <a href="{{ path('app_rehabilitaciones_edit', {'idrehabilitacion': rehabilitacione.idrehabilitacion}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_rehabilitaciones_new') }}">Create new</a>
{% endblock %}
