{% extends 'base.html.twig' %}

{% block title %}Vacaciones index{% endblock %}

{% block body %}
    <h1>Vacaciones index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idvacaciones</th>
                <th>Fecha</th>
                <th>Vacaciones</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vacacione in vacaciones %}
            <tr>
                <td>{{ vacacione.idvacaciones }}</td>
                <td>{{ vacacione.fecha ? vacacione.fecha|date('Y-m-d') : '' }}</td>
                <td>{{ vacacione.vacaciones ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_vacaciones_show', {'idvacaciones': vacacione.idvacaciones}) }}">show</a>
                    <a href="{{ path('app_vacaciones_edit', {'idvacaciones': vacacione.idvacaciones}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_vacaciones_new') }}">Create new</a>
{% endblock %}
