{% extends 'base.html.twig' %}

{% block title %}Vacaciones{% endblock %}

{% block body %}
    <h1>Vacaciones</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idvacaciones</th>
                <td>{{ vacacione.idvacaciones }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ vacacione.fecha ? vacacione.fecha|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Vacaciones</th>
                <td>{{ vacacione.vacaciones ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_vacaciones_index') }}">back to list</a>

    <a href="{{ path('app_vacaciones_edit', {'idvacaciones': vacacione.idvacaciones}) }}">edit</a>

    {{ include('vacaciones/_delete_form.html.twig') }}
{% endblock %}
