{% extends 'base.html.twig' %}

{% block title %}Alta Facultativo{% endblock %}

{% block body %}

    <section>
        <div class="container py-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-12">
                    <div class="card">
                        <div class="card-body text-center d-flex flex-column align-items-center">
                            <div class="row mb-4 mb-lg-5">
                                    <p class="fw-bold text-success mb-2">Facultativo</p>
                                    <h2 class="fw-bold">Alta Datos Facultativo</h2>
                            </div>
                            <div class="form-group">
                                {# Formulario Alta Facultativo #}
                                {{ form_start(facultativoForm) }}
                                    <div class="row">       
                                    {# <div class="mb-1"> #}
                                        <div class="col-sm-4">
                                            {{ form_row(facultativoForm.nombre) }}
                                        </div>    
                                        <div class="col-sm-4">
                                            {{ form_row(facultativoForm.apellido1, {label: 'Primer Apellido'} ) }}
                                        </div>
                                        <div class="col-sm-4">  
                                            {{ form_row(facultativoForm.apellido2, {label: 'Segundo Apellido', required: false}) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">       
                                            {{ form_row(facultativoForm.telefono, {label: 'Teléfono Contacto'}) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            {{ form_row(facultativoForm.especialidad, {label: 'Especialidad', required: false}) }}
                                        </div> 
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <button class="btn btn-primary shadow d-block w-100" type="submit">
                                                Alta Facultativo
                                            </button>
                                        </div>    
                                    </div>
                                {{ form_end(facultativoForm) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}