<nav id="mainNav" class="navbar navbar-light navbar-expand-md navbar-shrink py-3">
    <div class="container-fluid">
    <ul class="nav nav-pills nav-fill justify-content-center">
    <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ path('app_citas_new') }}">Pedir Cita Paciente</a>
        </li>
        {# Menu de Informes #}
        <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Informes</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{ path('app_informes_index') }}">Gestion Informes</a></li>
                    <li><a class="dropdown-item" href="{{ path('app_rehabilitaciones_index') }}">Gestion Rehabilitaciones</a></li>
                </ul>
        </li>
        {# Menu de Perfil #}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Perfil</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ path('app_perfil_index') }}">Modificar Perfil</a></li>
                <li><a class="dropdown-item" href="{{ path('app_vacaciones_index') }}">Gestion Vacaciones</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ path('app_logout') }}">Cerrar Sesion</a>
        </li>
    </ul>
</nav>