<nav id="mainNav" class="navbar navbar-light navbar-expand-md navbar-shrink py-3">
    <div class="container-fluid">
    <ul class="nav nav-pills nav-fill justify-content-center">
        <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Citas</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{ path('app_citas_new') }}">Pedir Cita</a></li>
                    <li><a class="dropdown-item" href="{{ path('app_citas_index') }}">Historial de Citas</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{{ path('app_citas_justificante') }}">Imprimir Justificante</a></li>
                </ul>
        </li>
{#         <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ path('app_perfil_index', {idusuario: usuario}) }}">Modificar Perfil</a>
        </li> #}
            <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ path('app_logout') }}">Cerrar Sesion</a>
        </li>
    </ul>
</nav>