<nav id="mainNav" class="navbar navbar-light navbar-expand-md navbar-shrink py-3">
    <div class="container-fluid">
    <ul class="nav nav-pills nav-fill justify-content-center">
    {# Menu de Pacientes #}
        <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Pacientes</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{ path('altaPacienteAdmin') }}">Alta Paciente</a></li>
                    <li><a class="dropdown-item" href="{{ path('buscarPerfilPacienteAdmin') }}">Modificar Perfil Paciente</a></li>
                    <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ path('buscarCitasFacultativoCitaAdmin') }}">Gestion Citas</a></li>
                </ul>
        </li>
        {# Menu de Facultativos #}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Facultativos</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ path('altaFacultativoAdmin') }}">Alta Facultativo</a></li>
                <li><a class="dropdown-item" href="{{ path('buscarPerfilFacultativo') }}">Modificar Perfil Facultativo</a></li>
                <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{{ path('buscarVacacionesFacultativo') }}">Gestion Vacaciones</a></li>
                    <li><a class="dropdown-item" href="{{ path('buscarTurnosFacultativo') }}">Gestion Turnos</a></li>
                <li><hr class="dropdown-divider"></li>
                 <li><a class="dropdown-item" href="{{ path('buscarFacultativoCitasD') }}">Gestion Citas Disponibles</a></li>
            </ul>
        </li>
        {# Menu de Administrativos #}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Administrativos</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ path('altaAdministrativo') }}">Alta Administrativo</a></li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ path('app_logout') }}">Cerrar Sesion</a>
        </li>
    </ul>
</nav>