{% extends 'base.html.twig' %}

{% block title %}Busqueda Paciente{% endblock %}

{% block body %}

    <section class="py-5 mt-5">
        <div class="container py-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-12">
                    <div class="card">
                        <div class="card-body text-center d-flex flex-column align-items-center">
                            <div class="row mb-1 mb-lg-1">
                                    <p class="fw-bold text-success mb-2">Intranet - Menu Administrativo</p>
                                    <h3 class="fw-bold">Seleccionar Paciente</h3>
                            </div>
                            <div class="row mb-4 mb-lg-5">
                                {# Incluimos Boton Volver #}
                                {% include 'menuVolver.html.twig' %}
                            </div>
                            <div class="form-group row mb-4 mb-lg-5">
                                {# Formulario Busqueda Paciente por Apellido #}
                                {# {{ form_start(buscarPacienteApellidoForm,{'action':path('buscarPerfilPaciente'),'method':'GET'}) }}  #}
                                <form method="GET" action="{{ path('buscarPerfilPacienteApellidoAdmin') }}">
                                    <div class="form-group row">
                                        <div class="col-sm-3">
                                            {# {{ form_row(buscarPacienteForm.apellido1, {label: 'Primer Apellido'}) }} #}
                                            <input type="text" class="form-control" placeholder="Primer Apellido" name="txtApellido" class="form-control" id="txtApellido">
                                        </div>
                                        <button type="submit" class="btn btn-primary col-sm-3" name="alta" value="alta">
                                            <i class="fa fa-search" aria-hidden="true"></i> Buscar por Apellido
                                        </button>   
                                    </div>                                    
                                {# {{ form_end(buscarPacienteForm) }} #}
                                </form>
                                {# Formulario Busqueda Paciente por Telefono #}
                                <form method="GET" action="{{ path('buscarPerfilPacienteTelefonoAdmin') }}">
                                    <div class="form-group row my-3">
                                        <div class="col-sm-3">
                                            <input type="number" class="form-control" placeholder="Telefono" name="txtTelefono" class="form-control" id="txtTelefono">
                                        </div>  
                                        <button type="submit" class="btn btn-primary col-sm-3" name="alta" value="alta">
                                        <i class="fa fa-search" aria-hidden="true"></i> Buscar por Telefono
                                        </button>   
                                    </div>
                                </form> 
                            <div class="form-group row">
                                   
                            <HR/>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Telefono</th>
                                        <th>Accion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {# {{ dump(datosPacientes) }} #}                                  
                                    <div id="swup">
                                        {# Si esta definida la variable muestra los datos de los pacientes #}
                                        {% for Paciente in datosPacientes %}    
                                            <tr>
                                                <td scope="row">{{ Paciente.Nombre | capitalize}} {{ Paciente.Apellido1 | capitalize}} {{ Paciente.Apellido2 | capitalize}}</td>
                                                <td>{{ Paciente.Telefono}}</td>
                                                <td>
                                                    <a class="btn btn-info" href="{{ path('mostrarPacienteAdmin', {idpaciente: Paciente.idpaciente }) }}">Editar</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </div>
                                </tbody>
                            </table>
                            {# Mostramos Paginacion #}
                            <div>
                                {{ knp_pagination_render(datosPacientes) }}
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}