{% extends 'base.html.twig' %}

{% block title %}Pacientes index{% endblock %}

{% block body %}
    <h1>Pacientes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idpaciente</th>
                <th>Nombre</th>
                <th>Apellido1</th>
                <th>Apellido2</th>
                <th>Telefono</th>
                <th>Direccion</th>
                <th>Codigopostal</th>
                <th>Poblacion</th>
                <th>Provincia</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for paciente in pacientes %}
            <tr>
                <td>{{ paciente.idpaciente }}</td>
                <td>{{ paciente.nombre }}</td>
                <td>{{ paciente.apellido1 }}</td>
                <td>{{ paciente.apellido2 }}</td>
                <td>{{ paciente.telefono }}</td>
                <td>{{ paciente.direccion }}</td>
                <td>{{ paciente.codigopostal }}</td>
                <td>{{ paciente.poblacion }}</td>
                <td>{{ paciente.provincia }}</td>
                <td>
                    <a href="{{ path('app_pacientes_show', {'idpaciente': paciente.idpaciente}) }}">show</a>
                    <a href="{{ path('app_pacientes_edit', {'idpaciente': paciente.idpaciente}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_pacientes_new') }}">Create new</a>
{% endblock %}
