{% extends 'base.html.twig' %}

{% block title %}Alta Paciente{% endblock %}

{% block body %}

    <section class="py-5 mt-5">
        <div class="container py-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-12">
                    <div class="card">
                        <div class="card-body text-center d-flex flex-column align-items-center">
                            <div class="row mb-4 mb-lg-5">
                                    <p class="fw-bold text-success mb-2">Pacientes</p>
                                    <h2 class="fw-bold">Modificar Perfil Paciente</h2>
                            </div>
                            <div class="form-group">
                                {# Formulario Modificar Perfil Paciente #}
                                {{ form_start(perfilPacienteForm) }}
                                    <div class="row">
                                        <div class="col-sm-4">       
                                            {{ form_row(perfilPacienteForm.idusuario, {label: 'Código de Usuario', 'value': datosUsuario.idusuario, 'disabled': true }) }}
                                        </div>
                                        <div class="col-sm-4">
                                            {{ form_row(perfilPacienteForm.email, {label: 'Email Usuario', 'value': datosUsuario.email }) }}
                                        </div>
                                        <div class="col-sm-4">       
                                            {{ form_row(perfilPacienteForm.idpaciente, {label: 'Código de Paciente', 'value': datosUsuario.idusuario, 'disabled': true }) }}
                                        </div> 
                                    </div>
                                    <div class="row">       
                                        <div class="col-sm-4">
                                            {{ form_row(perfilPacienteForm.nombre, {'value': datosPaciente.nombre }) }}
                                        </div>    
                                        <div class="col-sm-4">
                                            {{ form_row(perfilPacienteForm.apellido1, {label: 'Primer Apellido', 'value': datosUsuario.apellido1 }) }}
                                        </div>
                                        <div class="col-sm-4">  
                                            {{ form_row(perfilPacienteForm.apellido2, {label: 'Segundo Apellido', 'value': datosUsuario.apellido2, 'disabled': true }) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">       
                                            {{ form_row(perfilPacienteForm.telefono, {label: 'Teléfono Contacto', 'value': datosUsuario.telefono }) }}
                                        </div>
                                    </div>
                                    <div class="row"> 
                                        <div class="col-sm-8">
                                            {{ form_row(perfilPacienteForm.direccion, {label: 'Dirección Paciente', 'value': datosPaciente.direccion, required: false }) }}
                                        </div> 
                                        <div class="col-sm-4">      
                                            {{ form_row(perfilPacienteForm.codigopostal, {label: 'Código Postal', 'value': datosPaciente.codigopostal, required: false }) }}
                                        </div> 
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6"> 
                                            {{ form_row(perfilPacienteForm.poblacion, {label: 'Localidad', 'value': datosPaciente.poblacion, required: false}) }}
                                        </div> 
                                        <div class="col-sm-6">
                                            {{ form_row(perfilPacienteForm.provincia, {label: 'Provincia', 'value': datosPaciente.provincia, required: false}) }}
                                        </div> 
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <button class="btn btn-primary shadow d-block w-100" type="submit">
                                                Modificar Paciente
                                            </button>
                                        </div>    
                                    </div>
                                {{ form_end(pacienteForm) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}