{% extends 'base.html.twig' %}

{% block title %}Pacientes{% endblock %}

{% block body %}
    <h1>Pacientes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idpaciente</th>
                <td>{{ paciente.idpaciente }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ paciente.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido1</th>
                <td>{{ paciente.apellido1 }}</td>
            </tr>
            <tr>
                <th>Apellido2</th>
                <td>{{ paciente.apellido2 }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ paciente.telefono }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ paciente.direccion }}</td>
            </tr>
            <tr>
                <th>Codigopostal</th>
                <td>{{ paciente.codigopostal }}</td>
            </tr>
            <tr>
                <th>Poblacion</th>
                <td>{{ paciente.poblacion }}</td>
            </tr>
            <tr>
                <th>Provincia</th>
                <td>{{ paciente.provincia }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_pacientes_index') }}">back to list</a>

    <a href="{{ path('app_pacientes_edit', {'idpaciente': paciente.idpaciente}) }}">edit</a>

    {{ include('pacientes/_delete_form.html.twig') }}
{% endblock %}
